body {
  background-color: #f3f2f8;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1rem;
  color: #636474;
  margin: 0;

  .button {
    background-color: #a9547b;
    border: 0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Alegreya Sans SC', Arial, sans-serif;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    text-decoration: none;

    &.disabled {
      opacity: 0.8;
    }

    &:active {
      position: relative;
      top: 1px;
    }

    &:hover {
      background-color: #a24a73;
    }
  }

  .label {
    margin-bottom: 1rem;
  }

  .screen {
    margin: 0 auto;
    max-width: 1280px;
    padding: 2rem;
  }

  .card {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    padding: 3rem;
  }

  .input {
    border: 1px solid #c4c9ce;
    color: #636474;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    margin-bottom: 2rem;
    padding: 0.8rem;
    width: 24rem;
  }

  .login-screen {
    align-items: flex-start;
    display: flex;
    justify-content: center;

    .login-form {
      margin-top: 8rem;

      form {
        display: flex;
        flex-flow: column;
      }
    }
  }

  .trophies-screen {
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;

    .card {
      height: 50%;
      margin-top: 4rem;
      overflow-y: scroll;
      width: 80%;

      a {
        display: block;
        margin-bottom: 2rem;
      }

      .attributes-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .attribute {
          border: 1px solid #c4c9ce;
          border-radius: 4px;
          margin-bottom: 1rem;
          opacity: 0.5;
          width: 30%;

          &.conquered {
            opacity: 1;
          }

          span {
            margin: 1rem;
            display: block;
          }

          .attribute-name {
            font-family: 'Alegreya Sans SC', Arial, sans-serif;
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  .battle-screen {
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;

    .battle-map {
      display: flex;
      flex-flow: column;
      height: 450px;
      margin-top: 4rem;
      width: 1200px;

      .animations {
        display: flex;
        flex: 3;

        .button {
          background-color: #3c1828;
          margin-bottom: 2rem;

          &:hover {
            background-color: #3c1f2c;
          }
        }

        .battle-actions {
          align-items: center;
          display: flex;
          flex: 1;
          flex-flow: column;
          justify-content: flex-start;

          .wrapper {
            align-items: center;
            background-color: rgba(0, 0, 0, 0.8);
            color: white;
            display: flex;
            flex-flow: column;
            font-family: 'Alegreya Sans SC', Arial, sans-serif;;
            font-size: 1.2rem;
            width: 100%;

            .result {
              margin: 0 2rem 2rem 2rem;

              &.defeat {
                color: #730E15;
              }

              &.victory {
                color: #367340;
              }
            }

            .rolls {
              display: flex;
              justify-content: space-around;
              margin: 2rem;
              width: 100%;

              .roll {
                align-items: center;
                display: flex;
                flex: 1;
                flex-flow: column;

                span {
                  display: block;
                }

                .dice {
                  align-items: center;
                  background-image: url("/d20.png");
                  display: flex;
                  font-size: 1.4rem;
                  height: 64px;
                  justify-content: center;
                  margin: 1rem 0;
                  width: 56px;
                }
              }
            }
          }
        }

        .player, .monster {
          align-items: center;
          display: flex;
          flex: 1;
          flex-flow: column;
          justify-content: flex-end;

          .animation {
            margin-bottom: 2rem;
          }
        }
      }

      .sheets {
        display: flex;
        flex: 1;
        justify-content: space-between;
        margin: 1rem;

        .sheet {
          color: white;
          display: flex;
          flex-flow: column;
          font-family: 'Alegreya Sans SC', Arial, sans-serif;
          font-size: 1.2rem;

          .attributes-list {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .town-screen {
    .game-menu {
      display: flex;

      .attributes-list {
        margin-right: 2rem;
        margin-bottom: 2rem;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .monster-selection-menu {
      align-items: stretch;
      display: flex;
      flex-wrap: wrap;

      .monster-selection-menu-item {
        display: flex;
        flex-flow: column;
        margin-right: 2rem;
        width: 16rem;
        margin-bottom: 2rem;

        &:last-child {
          margin-right: 0;
        }

        .monster-image {
          margin-bottom: 1rem;
          text-align: center;

          img {
            max-height: 120px;
          }
        }

        .monster-name {
          color: #a9547b;
          font-family: 'Alegreya Sans SC', Arial, sans-serif;
          font-size: 1.4rem;
          margin-bottom: 1rem;
          text-align: center;
        }

        .description {
          margin-bottom: 1rem;
        }
      }
    }


    .notifications-list {
      display: flex;
      flex-flow: column;
      position: fixed;
      right: 0;
      top: 0;

      .notification {
        background-color: rgba(0, 0, 0, 0.9);
        margin: 2rem;
        min-width: 24rem;

        &.hidden {
          display: none;
        }

        .notification-footer {
          margin: 0 2rem 2rem 2rem;

          a {
            color: white;
            display: block;
            font-weight: 600;
            text-decoration: none;
            text-align: right;
          }
        }

        .notification-body {
          color: white;
          display: flex;
          flex-flow: column;
          margin: 2rem 2rem 1rem 2rem;

          span {
            display: block;
          }

          .title {
            font-family: 'Alegreya Sans SC', Arial, sans-serif;
            font-size: 1.2rem;
            font-weight: 600;
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }

  .attributes-list {
    margin-bottom: 2rem;

    .title {
      font-family: 'Alegreya Sans SC', Arial, sans-serif;
      font-size: 1.4rem;
      margin-bottom: 1rem;
    }

    .attribute {
      margin: 0 0 0.5rem 0;

      .attribute-name {
        font-weight: 500;

        &:after {
          content: ' ';
        }
      }
    }
  }

  .attributes-list-horizontal {
    display: flex;
    font-family: 'Alegreya Sans SC', Arial, sans-serif;
    font-size: 1.2rem;

    .attribute {
      align-items: flex-start;
      display: flex;
      flex-flow: column;
      margin: 1rem;

      .attribute-name, .attribute-value {
        display: block;
        font-weight: 600;
      }
    }
  }

  .character-selection-screen {
    .title {
      display: inline-block;
      font-family: 'Alegreya Sans SC', Arial, sans-serif;
      font-size: 1.6rem;
      margin-bottom: 2rem;
    }

    .saved-game-selection-menu {
      align-items: stretch;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-bottom: 1rem;

      .saved-game-selection-menu-item {
        display: flex;
        flex-flow: column;
        margin-right: 2rem;
        margin-bottom: 2rem;

        &:last-child {
          margin-right: 0;
        }

        .class-name {
          color: #a9547b;
          font-family: 'Alegreya Sans SC', Arial, sans-serif;
          font-size: 1.4rem;
          margin-bottom: 1rem;
          text-align: center;
        }
      }
    }

    .character-selection-menu {
      align-items: stretch;
      display: flex;
      justify-content: flex-start;

      .character-selection-menu-item {
        display: flex;
        flex: 1;
        flex-flow: column;
        margin-right: 2rem;

        &:last-child {
          margin-right: 0;
        }

        .character-image {
          margin-bottom: 1rem;
          text-align: center;

          img {
            height: 120px;
          }
        }

        .class-name {
          color: #a9547b;
          font-family: 'Alegreya Sans SC', Arial, sans-serif;
          font-size: 1.4rem;
          margin-bottom: 1rem;
          text-align: center;
        }

        .description {
          margin-bottom: 1rem;
        }
      }
    }
  }
}